footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  bottom: 0;
  font-family: 'Impact', sans-serif;
  z-index: 1000;
}

.footerspan {
  display: block;
  margin-bottom: 10px;
}

.anchor {
  font-family: serif;
}
