footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  // position: fixed;
  // position:relative;
  margin-top: auto;
  flex: 0 0 50px;
  bottom: 0;
  font-family: 'Impact', sans-serif;
}
.footerspan {
  display: block;
  margin-bottom: 10px;
}
.anchor {
  font-family: serif;

}
