/* Navbar.scss */

.navbar {
  background-color: #3498db; /* Calm background color */
  // background-color: #1a1674; /* Calm background color */
  // background-color: black; /* Calm background color */
  padding: 10px 0; /* Increase top and bottom padding for more height */
  line-height: 1.5; /* Adjust line height to vertically center content */
  // position: fixed;
  // width: 100%;
  top: 0;
  z-index: 1000; /* Ensure the navbar is on top of other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow for depth */

  // .container {
  //   // margin: 0 auto;
  //   align-items: right;
  //   // max-width: 1200px; /* Adjust as needed */
  //   width: 100%;
  // }
  
  h3 {
    color: #fff; /* Text color */
    color: black;
    font-size: larger;
    margin-left: 30px;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
  }

  .links {
    margin-left: auto;
    margin-right: 20px;
    // display: flex;
    padding: 10px;
    .home-button {
      color: white; /* Text color */
      background-color: rgb(0, 64, 255);
      padding: 10px 10px;
      border-radius: 10px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
      margin-left: 0px;
      margin-right: 20px;
      font-size: large;
      &:hover {
        background-color: #1100ff; /* Hover background color */
      }
    }
    .link{
      text-decoration: none;
      color: #fff; /* Text color */
      padding: 8px 15px; /* Adjust as needed */
      border-radius: 5px; /* Optional: Add rounded corners */
      background-color: #2dc7ea; /* Button background color */
      transition: background-color 0.3s ease; /* Smooth transition effect */
      padding: 13px 20px;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
      &:hover {
        background-color: #03a8ce; /* Hover background color */
      }
    }
  }
}
