/* Products.css
*/
.products_page_client {
    margin:auto;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    .div1 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 60%;
      margin: auto;
    }
    .select-options {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 50%;
      input {
        margin: auto;
        align-items: center;
        border-radius: 10px;
        border: none;
        padding: 10px 10px 10px 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 2px rgb(64, 68, 68);
      }
      .select-bar {
        background-color: rgb(205, 255, 249);
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 0 2px rgb(64, 68, 68);
        display: flex;
        flex-direction: column;
        padding: 10px 10px 10px 10px;
        label {
          padding: 5px 0px 5px 0px;
          font-size: medium;
        }
        select {
          width: 300px;
          margin: auto;
          text-align: center;
          padding: 12px 0px 10px 0px;
          font-size: medium;
          font-family: 'Times New Roman', Times, serif;
          border: none;
          box-shadow: 0 0 2px rgb(64, 68, 68);
        }
      }
    }
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
    align-items: center;
    width: 100%;

    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
      margin: 20px;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      font-family: 'Times New Roman', Times, serif;

      .product-image {
        width: 100%;
        max-height: 200px;
        align-items: center;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgb(64, 67, 68);
        margin-bottom: 10px;
      }
  
      .product-details {
        text-align: center;
      }
      .product-details h2 {
        margin-bottom: 10px;
      }
  
      .product-details p {
        color: #555;
        margin-bottom: 8px;
        margin-right: 10px;
        margin-left: 10px;
        text-align: justify;
      }
  
      .product-details p.price {
        color: #e48f26;
        font-weight: bold;
        text-align: center;
      }

      .cart-button {
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 10px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 5px;
      }
      .cart-button:hover {
        background-color: white;
        color: black;
        border: 1px solid #4caf50;
      }
    }

    .product:hover {
      transform: scale(1.05);
    }
    /* Responsive adjustments */
  }
}
