/* Products.css */

.title {
  text-align: center;
  color: #333; /* Dark text color */
  font-size: 2rem; /* Larger font size */
  margin-bottom: 20px; /* Add some space below the title */
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  transition: transform 0.3s ease-in-out; /* Add a subtle hover effect */
}

.product:hover {
  transform: scale(1.05); /* Zoom in on hover */
}

.product-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-details {
  text-align: center;
}

.product-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-details p {
  color: #555;
  margin-bottom: 8px;
}

.product-details p.price {
  color: #e44d26; /* Set a vibrant color for price */
  font-weight: bold;
}

/* Add a button-like style to the product container */
.product-details button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.product-details button:hover {
  background-color: #45a049;
}


.cart-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.cart-button:hover {
  background-color: white;
  color: black;
  border: 1px solid #4caf50;
}
